:host {
  display: block;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
  background: #f3f6fb;
}

/* SIDEBAR */
.sidebar {

  width: 280px;

  background:
    linear-gradient(rgba(5, 10, 25, 0.92),
    rgba(5, 10, 25, 0.95)),
    url('/hsp.jpg');

  background-size: cover;
  background-position: center;

  color: white;

  padding: 25px 18px;

  display: flex;
  flex-direction: column;

  box-shadow: 4px 0 15px rgba(0,0,0,0.3);
}

/* PERFIL */
.perfil {

  text-align: center;

  margin-bottom: 30px;

  padding-bottom: 20px;

  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* FOTO */
.avatar {

  width: 110px;
  height: 110px;

  margin: auto;
  margin-bottom: 15px;

  border-radius: 50%;

  overflow: hidden;

  border: 4px solid #2563eb;

  box-shadow: 0 0 20px rgba(37,99,235,0.5);
}

.avatar img {

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* TEXTO PERFIL */
.perfil span {

  display: block;

  font-size: 13px;

  color: #cbd5e1;

  margin-top: 8px;

  text-transform: uppercase;
}

.perfil strong {

  display: block;

  margin-top: 5px;

  font-size: 28px;

  color: white;
}

/* MENÚ */
.menu {

  display: flex;

  flex-direction: column;

  gap: 15px;

  margin-top: 20px;
}

.menu a {

  display: flex;

  align-items: center;

  gap: 15px;

  padding: 16px;

  border-radius: 14px;

  text-decoration: none;

  color: white;

  font-size: 22px;

  font-weight: bold;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(4px);

  transition: 0.3s;
}

/* LOGOS MENÚ */
.menu a img {

  width: 32px;
  height: 32px;

  border-radius: 8px;

  object-fit: cover;
}

/* HOVER */
.menu a:hover {

  background: #2563eb;

  transform: translateX(6px) scale(1.02);

  box-shadow: 0 0 15px rgba(37,99,235,0.5);
}

/* BOTÓN SALIR */
.salir {

  margin-top: auto;

  background: #ef4444;

  border: none;

  padding: 16px;

  border-radius: 14px;

  color: white;

  font-size: 22px;

  font-weight: bold;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 12px;

  cursor: pointer;

  transition: 0.3s;
}

/* LOGO SALIR */
.salir img {

  width: 30px;
  height: 30px;

  border-radius: 6px;
}

.salir:hover {

  background: #dc2626;

  transform: scale(1.03);
}

/* CONTENIDO */
.contenido {

  flex: 1;

  padding: 35px;

  overflow-x: auto;

  background: #f1f5f9;
}