@if (!estaLogeado()) {

  <router-outlet></router-outlet>

}

@if (estaLogeado()) {

  <div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">

      <!-- PERFIL -->
      <div class="perfil">

        <div class="avatar">
          <img src="/user.jpg" alt="usuario">
        </div>

        <span>{{ usuario.rol }}</span>

        <strong>{{ usuario.username }}</strong>

      </div>

      <hr>

      <!-- MENÚ -->
      <nav class="menu">

        <a routerLink="/dashboard">

          <img src="/login.jpg" alt="">
          <span>Inicio</span>

        </a>

        <a routerLink="/huespedes">

          <img src="/loghue.jpg" alt="">
          <span>Huéspedes</span>

        </a>

        <a routerLink="/habitaciones">

          <img src="/loghabi.jpg" alt="">
          <span>Habitaciones</span>

        </a>

        <a routerLink="/registros">

          <img src="/logregi.jpg" alt="">
          <span>Registros</span>

        </a>

        <a routerLink="/productos">

          <img src="/logpro.jpg" alt="">
          <span>Productos</span>

        </a>

      </nav>

      <!-- BOTÓN -->
      <button class="salir" (click)="cerrarSesion()">

        <img src="/logcerrar.jpg" alt="">

        <span>Salir</span>

      </button>

    </aside>

    <!-- CONTENIDO -->
    <main class="contenido">

      <router-outlet></router-outlet>

    </main>

  </div>

}